.list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    max-width: 24rem;
    padding: 1rem;
    border: 1px solid #999;
    border-radius: 1rem;
    background-color: #f8f8f8;
    box-shadow: 0 0.2rem 0.4rem;
}


.card-title{
    text-transform: uppercase;
}

.card-desc {
    color: #444;
}

.card-link {
    padding: 0.7em 1em;
    background-color: #36f;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5em;
}