.form {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 2rem 0;
    width: 100%;
}

.form label {
    font-size: 1.2rem;
}

.form input,
.form button {
    padding: 0.5em 1em;
    font-size:  1.2rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.list .item {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid #ccc
}
.list .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    border: 0.1rem solid #ccc;
}

.list .index {
    font-size: 1.2rem;
    font-weight: bold;
}

.list .btn {
    font-size: 1rem;
    padding: 0.2rem 0.2em;
}

.list .content {
    padding: 1rem;
}